.nav {
    grid-area: n;
    background-color: lightgoldenrodyellow;
    width: 100px;
    font-weight: bold;
    padding: 20px;
}
.item a{
    color: green;
    text-decoration: none;
}
.item a.active{
    color: darkgoldenrod;
}